body {
  font-family: Helvetica, Arial, sans-serif;
}

header h1 {
  display: inline-block;
  margin-right: 1em;
}

.grocery-list {
  margin: 0;
  padding: 0 0 1em 0;
  list-style: none;
}

.grocery-list li {
  padding: 0.5em 1em;
}

.grocery-item-label {
  margin: 0.5em 2em 0.5em 0em;
}

.grocery-list li:nth-child(odd) {
  background-color: #EEEEEE;
}

.grocery-list li:nth-child(even) {
  background-color: #DDDDDD;
}

#add-item-button {
  height: 36px;
  font-size: 1.2em;
}

.delete-item-button {
  height: 36px;
  font-size: 1.2em;
}

.editable-grocery-item input {
  height: 36px;
  font-size: 1.2em;
}

.grocery-item-label {
  font-size: 1.2em;
}

@media all and (max-width: 480px) {
  .delete-item-button {
    float: right;
  }
} 